<div class="container">
  <form
    [formGroup]="calculatorForm"
    (ngSubmit)="onSubmit()"
  >

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="amount">Montant désiré</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            formControlName="amount"
          >
        </div>
      </div>
      <div class="col">
        <div
          *ngIf="!desiredAmountPossible"
          class="btn-group-vertical btn-group-sm"
        >
          <button
            *ngIf="combination.ceil"
            type="button"
            class="btn btn-outline-secondary"
            (click)="onNextAmount()"
          >
            Montant suivant
          </button>

          <button
            *ngIf="combination.floor"
            type="button"
            class="btn btn-outline-secondary"
            (click)="onPrevAmount()"
          >
            Montant précédent
          </button>
        </div>

      </div>

    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="calculatorForm.invalid"
    >
      Valider
    </button>
  </form>
  <div *ngIf="desiredAmountPossible">
    <p>
      Votre montant est composé des cartes suivantes :
    </p>
    <ul>
      <li *ngFor="let card of combination.equal?.cards">{{card}} €</li>
    </ul>

  </div>
</div>
